<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body class="bg-gray-100">


    <div class="min-h-screen  lg:flex gap-4 container mx-auto p-4">

      <!-- nav small screens -->

      <div class="bg-white p-8 mb-4 shadow-lg lg:hidden">
        <div class="flex justify-between items-center">
          <h1 class="font-bold"><a href="{% url 'index' %}" class="text-xl lg:text-3xl font-bold tracking-wide hover:text-orange-500 transition-colors duration-300 ease-in-out">
            MyDreamCar
        </a></h1>
          <svg id="hambugerIcon" class="size-6 sm:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg> 
          <div class="hidden sm:block hidden">
            <ul class="text-center text-gray-500 flex">
              <li class="pt-6 underline"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li class="pt-6"><a href="{% url 'listUsers' %}">Users</a></li>
            <li class="pt-6"><a href="{% url 'listCompetitions' %}">Competitions</a></li>
            <li class="pt-6"><a href="{% url 'createCompetition' %}">Create Competition</a></li>
            <li class="pt-6"><a href="{% url 'createholiCompetition' %}">Create HolidayCompetition</a></li>
            </ul>
          </div>       
        </div>

        <div id="menu" class="hidden">
          <ul class="text-center text-gray-500">
            <li class="pt-6 underline"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li class="pt-6"><a href="{% url 'listUsers' %}">Users</a></li>
            <li class="pt-6"><a href="{% url 'listCompetitions' %}">Competitions List</a></li>
            <li class="pt-6"><a href="{% url 'listHolidayCompetitions' %}">HolidayCompetitions List</a></li>
            <li class="pt-6"><a href="{% url 'createCompetition' %}">Create Competition</a></li>
            <li class="pt-6"><a href="{% url 'createholiCompetition' %}">Create HolidayCompetition</a></li>
          </ul>
        </div>


      </div>
      
      <!-- menu on large screens -->

      <div class="hidden lg:block left h-[97vh] absolute sticky top-4  w-1/5 bg-white p-8 rounded-lg lg:flex flex-col justify-between">
        <div>
        <h2 class="text-lg font-bold">
          <a href="{% url 'index' %}" class="text-xl lg:text-3xl font-bold tracking-wide hover:text-orange-500 transition-colors duration-300 ease-in-out">
            MyDreamCar
        </a>
        </h2>
        
          <ul class="mt-8 text-gray-500">
            <li class="pt-6 underline"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li class="pt-6"><a href="{% url 'listUsers' %}">Users</a></li>
            <li class="pt-6"><a href="{% url 'listCompetitions' %}">Competitions</a></li>
            <li class="pt-6"><a href="{% url 'createCompetition' %}">Create Competition</a></li>
            <li class="pt-6"><a href="{% url 'createholiCompetition' %}">Create HolidayCompetition</a></li>
          </ul>
        </div>
        <div class="flex flex-col items-center text-gray-500">
            <img class="size-12 rounded-full object-cover" src="https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <p class="text-sm">salma</p>
            <p class="text-xs">salma@gmail.com</p>
        </div>
      </div>

      <div class="right lg:w-4/5">

    

        <!-- ===============================
        competition list section
        =============================== -->
        <div class="hidden lg:block bg-white lg:flex justify-between text-gray-800 mb-4 p-8 rounded-xl shadow-lg">
          <h1 class="text-2xl font-bold">Dashboard</h1>
          <button class="bg-black px-3 py-2 text-white rounded-xl hover:bg-gray-900 hover:text-gray-100"><a href="{% url 'createCompetition' %}">Create Competition</a></button>
        </div>

        <div class="bg-white text-gray-800 p-8 rounded-xl shadow-lg">
          <!-- heading -->
          <div class="flex justify-between items-center">
            
            <div>
              <h1 class="text-2xl font-bold">Competitions</h1>
              <p class="text-xs"><a class="text-blue-500" href="#">{{competition_count}}</a> in total</p>
            </div>
            
            <div class="flex gap-4">
              
              <div>
                <h1 class="text-2xl font-bold">94</h1>
                <p class="text-xs">done</p>
              </div>

              <div class="border-l">

              </div>

              <div>
                <h1 class="text-2xl font-bold">27</h1>
                <p class="text-xs">active</p>
              </div>
            
            </div>
          
          </div>

          <!-- table -->
          <table class="w-full table-fixed mt-4 border-spacing-2 border-gray-200 border-collapse">
            <thead>
              <tr class="border-y text-left text-gray-500">
                <td class="py-2 ">Title</td>
                <td class="">Players</td>
                <td class="">Status</td>
                <td class="hidden sm:table-cell">image</td>
                <td class="hidden md:table-cell">start</td>
                <td class="hidden md:table-cell">end</td>
                <td class="hidden lg:table-cell text-center">total staked</td>
                <td class="md:table-cell">Actions</td>
              </tr>
            </thead>
            <tbody>

              {% for competition in competition_list %}

              <tr class="text-sm">
                <td class="py-2 font-bold">{{competition.car_brand}}</td>
                <td>3</td>
                <td>
                  <div class="bg-green-100 w-max rounded-md p-1 border border-green-500 flex text-xs gap-1 items-center text-green-500 ">
                    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <p>Done</p>
                  </div>
                </td>
                <td  class="hidden sm:table-cell"><img class="size-8 rounded-full" src="{{ competition.image.url }}" alt="{{ competition.car_model }}"></td>
                <td  class="hidden md:table-cell">{{competition.start_date}}</td>
                <td  class="hidden md:table-cell">{{competition.end_date}}</td>
                <td  class="hidden lg:table-cell text-center">{{competition.ticket_price}}</td>
                <td><button class="ml-4 bg-white-500 px-3 py-1 rounded text-white"> <a href="{% url 'editCompetition' competition.pk %}"><box-icon name='edit' type='solid' color='#0f88dc' >edit</box-icon></a> </button></td>
              </tr>         

              {% endfor %}

            </tbody>
          </table>

        </div>

        <!-- ================================
        users
        ================================ -->
        <div class="mt-4 bg-white text-gray-800 p-8 rounded-xl shadow-lg">
          <!-- heading -->
          <div class="flex justify-between items-center">
            
            <div>
              <h1 class="text-2xl font-bold">Users</h1>
              <p class="text-xs"><a class="text-blue-500" href="#">{{user_count}}</a> in total</p>
            </div>
            
            <div class="flex gap-4">
              
              <div>
                <h1 class="text-2xl font-bold">{{regular_users_count}}</h1>
                <p class="text-xs">regular</p>
              </div>

              <div class="border-l">

              </div>

              <div>
                <h1 class="text-2xl font-bold">{{admin_users_count}}</h1>
                <p class="text-xs">admin</p>
              </div>
            
            </div>
          
          </div>

          <!-- table -->
          <table class="w-full table-fixed mt-4 border-spacing-2 border-gray-200 border-collapse">
            <thead>
              <tr class="border-y text-left text-gray-500">
                <td class="py-2 ">Username</td>
                <td class="">Competitions</td>
                <td class="">Is admin</td>
                <td class="hidden sm:table-cell">email</td>
                <td class="hidden md:table-cell text-center">won</td>
                <td class="hidden md:table-cell">Joined</td>
                <td class="hidden lg:table-cell">staked</td>
              </tr>
            </thead>
            {% for user in user_list %}

            <tbody>
              <tr class="text-sm">
                <td class="py-2 font-bold">{{user.username}}</td>
                <td>3</td>
                <td class="">
                  <input class="size-4" type="checkbox" name="" id="" >
                </td>
                <td class="hidden sm:table-cell">{{user.email}}</td>                
                <td class="hidden md:table-cell text-center">01</td>
                <td class="hidden md:table-cell">12-12-2002</td>
                <td class="hidden lg:table-cell">kes 20,000</td>
              </tr>              
              
            </tbody>

            {% endfor %}
            
          </table>

        </div>

   

      </div>
    </div>





    <script>
//menu
const menu = document.querySelector('#menu')
const hambugerIcon = document.querySelector('#hambugerIcon')

const toggleMenu = function(){
  console.log('clicked')
  if (menu.classList.contains('hidden')){
     menu.classList.replace('hidden', 'block')
     return
  } else {
    menu.classList.replace('block', 'hidden')
    return
  }
}

hambugerIcon.addEventListener('click', toggleMenu)

// carosel
      let slideIndex = 0;
const carousel = document.getElementById("carousel");

function showSlide(index) {
  carousel.style.transform = `translateX(-${index * 100}%)`;
}

function nextSlide() {
  slideIndex++;
  if (slideIndex >= carousel.children.length) {
    slideIndex = 0;
  }
  showSlide(slideIndex);
}

function previousSlide() {
  slideIndex--;
  if (slideIndex < 0) {
    slideIndex = carousel.children.length - 1;
  }
  showSlide(slideIndex);
}

// Add event listeners for buttons
const prevButton = document.querySelector(".prev");
const nextButton = document.querySelector(".next");

setInterval(nextSlide, 1000)

prevButton.addEventListener("click", previousSlide);
nextButton.addEventListener("click", nextSlide);
    </script>
</body>
</html>