{% extends 'frontend/base.html' %}
{% block content %}
 <!--
    ===================
    competition
    ===================
 -->
 <div class="bg-gray-100 p-4">
    <div class="container m-auto grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6">
        {% if competitions %}
        {% for competition in competitions %}
        <div class="py-2 px-4 mb-4 bg-white transform transition duration-500 hover:bg-orange-400 hover:text-black hover:scale-105 hover:shadow-lg">
            <a href="{% url 'competition' competition.id %}">
                <h2 class="text-gray-700 font-bold text-lg md:text-xl">{{ competition.car_brand }}</h2>
                <p class="text-gray-600 text-md">{{ competition.car_model }}</p>
                <div class="border-b border-gray-400 my-2"></div>
                <div class="">
                    <img class="w-full aspect-video" src="{{ competition.image.url }}" alt="{{ competition.car_model }}">
                    <div class="my-2 flex justify-between items-center">
                        <p class="text-md text-gray-600 font-bold">Ksh{{ competition.ticket_price }}</p>
            </a>
                        <div>
                            <svg class="p-2 bg-orange-500 fill-orange-500 rounded stroke-white border border-red-400 size-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                            </svg>   
                        </div>                       
                    </div>
                </div>                   
        </div>
        {% endfor %}
        {% endif %}
        <!-- Example Static Content -->
        <div class="py-2 px-4 bg-white">
            <h2 class="text-gray-500 font-bold text-lg md:text-xl">BMW</h2>
            <p class="text-gray-400">M4 CS</p>
            <div class="border-b border-gray-400 my-2"></div>
            <div class="">
                <img class="w-full aspect-video" src="https://images.pexels.com/photos/707046/pexels-photo-707046.jpeg" alt="">
                <div class="my-2 flex justify-between items-center">
                    <p class="text-md text-gray-600 font-bold">$13.55</p>
                    <svg class="p-2 bg-orange-500 fill-orange-500 rounded stroke-white border border-red-400 size-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>                          
                </div>
            </div>
        </div>
        <div class="py-2 px-4 bg-white">
            <h2 class="text-gray-500 font-bold text-lg md:text-xl">BMW</h2>
            <p class="text-gray-400">M4 CS</p>
            <div class="border-b border-gray-400 my-2"></div>
            <div class="">
                <img class="w-full aspect-video" src="https://images.pexels.com/photos/707046/pexels-photo-707046.jpeg" alt="">
                <div class="my-2 flex justify-between items-center">
                    <p class="text-md text-gray-600 font-bold">$13.55</p>
                    <svg class="p-2 bg-orange-500 fill-orange-500 rounded stroke-white border border-red-400 size-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>                          
                </div>
            </div>
        </div>

        <div class="py-2 px-4 bg-white">
            <h2 class="text-gray-500 font-bold text-lg md:text-xl">BMW</h2>
            <p class="text-gray-400">M4 CS</p>
            <div class="border-b border-gray-400 my-2"></div>
            <div class="">
                <img class="w-full aspect-video" src="https://images.pexels.com/photos/707046/pexels-photo-707046.jpeg" alt="">
                <div class="my-2 flex justify-between items-center">
                    <p class="text-md text-gray-600 font-bold">$13.55</p>
                    <svg class="p-2 bg-orange-500 fill-orange-500 rounded stroke-white border border-red-400 size-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>                          
                </div>
            </div>
        </div>

        <div class="py-2 px-4 bg-white">
            <h2 class="text-gray-500 font-bold text-lg md:text-xl">BMW</h2>
            <p class="text-gray-400">M4 CS</p>
            <div class="border-b border-gray-400 my-2"></div>
            <div class="">
                <img class="w-full aspect-video" src="https://images.pexels.com/photos/707046/pexels-photo-707046.jpeg" alt="">
                <div class="my-2 flex justify-between items-center">
                    <p class="text-md text-gray-600 font-bold">$13.55</p>
                    <svg class="p-2 bg-orange-500 fill-orange-500 rounded stroke-white border border-red-400 size-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>                          
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}