{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}

    <!-- =============================
        hero
        ============================= -->
        <div class="bg-[url('https://images.pexels.com/photos/935013/pexels-photo-935013.jpeg')] min-h-screen bg-cover bg-center flex justify-center items-center">
            <div class="bg-black/50 w-full min-h-screen flex justify-center items-center">
                <div class=" p-12 text-white text-center ">
                    <h1 class="lg:text-6xl text-3xl font-bold uppercase mb-8 ">Win your Dream Car!</h1>
                    <p class="text-3xl mb-6">This week Cars vs Cash</p>
                    <a class="p-3 px-12 bg-orange-500 text-lg font-bold rounded shadow-lg" href="{% url 'competitions' %}">Enter now! >></a>
                </div>
            </div>
        </div>

    <!-- ============================
        competition
        ============================ -->
        <div class="bg-gray-100">
        <div class="container m-auto p-10 ">
            <h1 class="text-4xl text-center font-bold pb-5">Find your dream car</h1>

            <div class="grid lg:grid-cols-4 grid-cols-1 md:grid-cols-2 gap-8">
                {% for competition in competitions %}
                <div class="rounded-lg border  overflow-hidden shadow-xl transform transition duration-500 hover:bg-orange-500 hover:text-white hover:scale-105 hover:shadow-lg">
                    <a href="{% url 'competition' competition.id %}">
                        <img class="w-full aspect-video" src="{{ competition.image.url }}" alt="{{ competition.car_model }}">
                        <div class="p-3 space-y-3">
                            <h2>{{ competition.car_brand }}</h2>
                            <p>Ksh {{ competition.ticket_price }}</p>
                        </div>
                    </a>        
                </div>
                {% endfor %}
                <div class="rounded-lg border  overflow-hidden shadow-xl">
                    <img src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg" alt="">
                    <div class="p-3 space-y-3">
                    <h2>bmw</h2>
                    <p>Ksh 1</p>
                    </div>
                </div>
                <div class="rounded-lg border  overflow-hidden shadow-xl">
                    <img src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg" alt="">
                    <div class="p-3 space-y-3">
                    <h2>bmw</h2>
                    <p>Ksh 1</p>
                    </div>
                </div>
                <div class="rounded-lg border  overflow-hidden shadow-xl">
                    <img src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg" alt="">
                    <div class="p-3 space-y-3">
                    <h2>bmw</h2>
                    <p>Ksh 1</p>
                    </div>
                </div>

            </div>
            </div>
        </div>

    <!-- =======================
        Winners
        ======================= -->
        <div class="relative sm:w-2/3 mx-auto overflow-hidden border-red-500 transition-all duration-500">
            <div class="flex transition-transform duration-500 ease-in-out mx-auto" id="carousel">
              <div class="flex-shrink-0 w-full aspect-video bg-red-200">
                <img src="{% static 'assets/img/land/rangerovervogue.jpg' %}" alt="">
              </div>
              <div class="flex-shrink-0 w-full aspect-video bg-gray-300">
                <img src="{% static 'assets/img/land/landcruiserGRstportbody.jpg' %}" alt="">
              </div>
              <div class="flex-shrink-0 w-full aspect-video bg-blue-400">
                <img src="{% static 'assets/img/land/rangerovervogue.jpg' %}" alt="">
              </div>
            </div>
          
            <div class="px-4 absolute top-1/2 left-0 right-0 flex justify-between">
              <button class="carousel-button prev" onclick="previousSlide()">
                <svg class="h-6 w-6 bg-black/50 text-xs rounded text-gray-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414L7.586 11l-2.293 2.293a1 1 0 01-1.414-1.414L5.293 9.414l3.293-3.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
              </button>
              <button class="carousel-button next" onclick="nextSlide()">
                <svg class="h-6 w-6 bg-black/50 text-xs rounded text-gray-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 11l-3.293-3.293a1 1 0 011.414-1.414L12.414 10l2.293 2.293a1 1 0 011.414-1.414L14.707 7.293l-3.293-3.293a1 1 0 011.414-1.414z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
          
            <span class="absolute bottom-4 right-4 bg-black/50 text-xs p-1 rounded text-gray-100">
              <span id="currentSlide">1</span> / <span id="totalSlides">3</span>
            </span>
          </div>

    <!-- =======================
        Prizes 
        ======================= -->
        <div class="bg-gray-200">
            <div class="p-20 container m-auto text-center">
                <h1 class="text-5xl text-gray-700 font-bold">Est. 1999 - £70 million in prizes won</h1>
                <h3 class="mt-4 mb-8 text-2xl text-gray-500 ">Guaranteed winners every week</h3>
                <a href="{% url 'competitions'%}" 
                    class="py-2 px-6 sm:py-3 sm:px-8 md:py-3 md:px-12 mb-6 md:mb-12 rounded-lg text-white mr-2 
                    md:mr-4 bg-orange-500 uppercase text-sm md:text-base lg:text-lg "> Dream Car >>
                </a>
   
            </div>
        </div>

        <script>
            let slideIndex = 0;
               const carousel = document.getElementById("carousel");
               const currentSlideElement = document.getElementById("currentSlide");
               const totalSlidesElement = document.getElementById("totalSlides");
               
               function showSlide(index) {
                 carousel.style.transform = `translateX(-${index * 100}%)`;
                 currentSlideElement.textContent = index + 1;
               }
               
               function nextSlide() {
                 slideIndex++;
                 if (slideIndex >= carousel.children.length) {
                   slideIndex = 0;
                 }
                 showSlide(slideIndex);
               }
               
               function previousSlide() {
                 slideIndex--;
                 if (slideIndex < 0) {
                   slideIndex = carousel.children.length - 1;
                 }
                 showSlide(slideIndex);
               }
               
               // Update total slides count
               totalSlidesElement.textContent = carousel.children.length;
               
               // Automatically cycle through slides
               setInterval(nextSlide, 3000); // Change the interval as needed
       </script>    
{% endblock %}