<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Basket</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% load custom_filters %}
    {% load static %}
    <style>
        body {
            background: url("{% static 'assets/img/bmw3.jpg' %}") no-repeat center fixed;
            background-size: cover;
        }
    </style>
</head>
<body class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white rounded-lg shadow-lg max-w-4xl w-full">
        <div class="flex flex-col md:flex-row">
            <div class="md:w-3/4 p-6">
                <h4 class="text-2xl font-bold mb-4">Shopping Cart</h4>
                <p class="text-gray-600">Items: {{ basket_items|length }}</p>

                {% if basket_items %}
                {% for item in basket_items %}
                <div class="flex border-b py-4">
                    <div class="w-1/4">
                        {% if item.competition %}
                            <img class="w-12" src="{{ item.competition.image.url }}" alt="{{ item.competition.name }}">
                        {% elif item.holicompetition %}
                            <img class="w-12" src="{{ item.holicompetition.image.url }}" alt="{{ item.holicompetition.name }}">
                        {% endif %}
                    </div>
                    <div class="flex-1 px-4">
                        <div class="text-gray-800">
                            {% if item.competition %}
                                {{ item.competition.name }}
                            {% elif item.holicompetition %}
                                {{ item.holicompetition.name }}
                            {% endif %}
                        </div>
                        <div class="text-gray-600">
                            {% if item.competition %}
                                {{ item.competition.car_model }}
                            {% elif item.holicompetition %}
                                {{ item.holicompetition.car_model }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-1/4 text-center">
                        <span class="border p-2" id="ticket-count-{{ item.id }}">{{ item.ticket_count }}</span>
                        <button class="plus-btn" data-competition-id="{{ item.id }}">+</button>
                    </div>
                    <div class="w-1/4 text-right">
                        {% if item.competition %}
                            KES <span class="cost" data-competition-id="{{ item.id }}">
                                {{ item.competition.ticket_price|multiply:item.ticket_count|floatformat:2 }}
                            </span>
                        {% elif item.holicompetition %}
                            KES <span class="cost" data-competition-id="{{ item.id }}">
                                {{ item.holicompetition.ticket_price|multiply:item.ticket_count|floatformat:2 }}
                            </span>
                        {% endif %}
                        <a href="{% url 'remove_from_basket' item.id %}" class="text-black-500 ml-2">&#10005;</a>
                    </div>
                </div>
            {% endfor %}
                {% else %}
                    <p class="text-center">No items yet, keep on Playing.</p>
                {% endif %}
                <div class="mt-6">
                    <a href="{% url 'competitions' %}" class="text-red-500 hover:underline">&leftarrow; Back to the game</a>
                </div>
            </div>
            <div class="md:w-1/4 bg-gray-200 p-6 rounded-br-lg rounded-tr-lg">
                <h5 class="text-xl font-bold mb-4">Summary</h5>
                <div class="flex justify-between mb-2">
                    <span>ITEMS:</span>
                    <span>{{ basket_items|length }}</span>
                </div>
                <div class="flex justify-between border-t pt-2">
                    <span class="font-bold">TOTAL PRICE:</span>
                    <span class="text-orange-500 font-bold">KES <span id="total-cost">{{ total_cost|floatformat:2 }}</span></span>
                </div>
                <div class="mt-6">
                    <a href="{% url 'check_out' %}" class="block text-center text-orange bg-red-500 hover:bg-red-600 font-bold py-2 rounded animate-bounce">CHECKOUT</a>
                </div>
            </div>
        </div>
        <div class="pt-4 px-4 sm:px-6 md:px-10 lg:px-20 transition-all duration-500">
            <!-- Title for Similar Competitions, left-aligned -->
            <div class="text-left">
                <h1 class="font-bold text-gray-900 mb-4">Other People Play These Competitions Below. <span class="font-bold ">Win Now !</span> </h1>
            </div>
        
            <!-- Grid layout for competitions -->
            <div class="mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 md:gap-4 lg:grid-cols-3 lg:gap-6 transition-all duration-500" id="carousel">
                <!-- Example card for competitions -->
                {% if competitions %}
                {% for competition in competitions %}
                <div class="mt-4 bg-white w-full sm:w-96 md:w-auto flex-shrink-0" id="card">
                    <a href="{% url 'competition' competition.id %}"></a>
                    <img class="w-full" src="{{ competition.image.url }}" alt="{{ competition.car_model }}">
                    </a>
                    <div class="p-2">
                        <div class="flex justify-between">
                            <div class=" h-2 w-4/5 rounded-full bg-gray-200 mt-2">
                                <div class="w-1/2 h-2 rounded-full bg-gradient-to-r from-orange-500 to-orange-300 "></div>
                            </div>
                            <p class="text-gray-800 text-xs">50% sold</p>
                        </div>
                        <p class="py-2 text-gray-700 font-bold">Win this {{ competition.car_brand }} Tax free</p>
                        <div class="flex items-center text-xs p-1 bg-orange-200 w-max">
                            <svg class="size-3  text-orange-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <p class="text-orange-600">1 day</p>                  
                        </div>
                        <div class="flex justify-between items-center mt-2 text-orange-500">
                            <p class="text-xl">ksh  {{ competition.ticket_price }}</p>
                            <svg class="size-10 fill-orange-500 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>                  
                        </div>
                    </div>
                     
                </div>
                {% endfor %}
                {% endif %}
            </div>

        
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const plusButtons = document.querySelectorAll('.plus-btn');
            let totalCostElement = document.getElementById('total-cost');

            plusButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const competitionId = this.getAttribute('data-competition-id');
                    const currentCountElement = document.getElementById(`ticket-count-${competitionId}`);
                    const costElement = document.querySelector(`.cost[data-competition-id="${competitionId}"]`);
                    let ticketCount = parseInt(currentCountElement.innerText);
                    const price = parseFloat(costElement.innerText) / ticketCount;

                    ticketCount += 1;
                    const newTotal = parseFloat(price * ticketCount).toFixed(2);
                    costElement.innerText = `${newTotal}`;
                    currentCountElement.innerText = ticketCount;

                    updateTotalCost();

                    fetch('/update-basket/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        body: JSON.stringify({
                            'competition_id': competitionId,
                            'ticket_count': ticketCount
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            console.log("Basket updated successfully.");
                        } else {
                            console.error("Error updating basket.");
                        }
                    })
                    .catch(error => console.error('Error:', error));
                });
            });

            function updateTotalCost() {
                let totalCost = 0;
                document.querySelectorAll('.cost').forEach(costElement => {
                    totalCost += parseFloat(costElement.innerText);
                });
                totalCostElement.innerText = totalCost.toFixed(2);
            }

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>
</body>
</html>
